.feedMeButton {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
  border: black solid 2px;
  color: Black;
  font-weight: bolder;
  font-size: 100px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.button1 {
  border-radius: 2px;
}
.button2 {
  border-radius: 4px;
}
.button3 {
  border-radius: 8px;
}
.button4 {
  border-radius: 12px;
}
.button5 {
  border-radius: 50%;
}

.inputRow {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 8px;
  max-width: 500px;
  margin: 0 auto;
  background-color: grey;
}

.text-center.form-control.border-0.fs-2 {
  border: 0px;
  margin: 0 auto;
  background-color: transparent;
}

.border.rounded {
  background-color: grey;
  margin-top: 20px;
}
.form-control.border-0.fs-4.text-center {
  border: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.feedMeButton.button5 {
  font-size: 20px;
  font-weight: bolder;
}

.btn-secondary.btn-lg {
  margin-top: 40px;
}

.text-center.form-control.w-25.fs-5 {
  margin: 0 auto;
  background-color: transparent;
  margin-top: 15px;
}
