.feedMeButton {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #EAEFF2;
  border: black solid 2px;
  color: Black;
  font-weight: bolder;
  font-size: 100px;
  margin-top: 25px;
  margin-bottom: 15px;
}



#deleteBtn{
  color: #EA9B7A; 
  font-size: 50px;
  display: inline-flex;
 vertical-align: top;
 padding-top: 10px;
  
}
#addColumnBtn{
  color:#EA9B7A; 
  font-size: 28px;
  display: inline-flex;
  vertical-align: middle;
  
}

#randomizedItem{
margin: auto; border-radius: 30px; border-width: 10px; border-color :  #8ce6cb; background-color: antiquewhite; height: 70px; 
}
.button1 {
  border-radius: 2px;
}
.button2 {
  border-radius: 4px;
}
.button3 {
  border-radius: 8px;
}
.button4 {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color:#EAEFF2;
    border: black solid 2px;
    color: Black;
    font-weight:900;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.button5 {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color:#EAEFF2;
  border: black solid 2px;
  color: Black;
  font-weight:900;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.btn.btn-lg{
  background-color: #EAEFF2;
  margin-bottom: 20px;
}

.inputRow {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 8px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #8ce6cb;
}

.text-center.form-control.border-0.fs-2 {
  border: 0px;
  margin: 0 auto;
  background-color: transparent;
}


.form-control.border-0.fs-4.text-center {
  border: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.feedMeButton.button5 {
  font-size: 20px;
  font-weight: bolder;
}

.btn-secondary.btn-lg {
  margin-top: 40px;
}

.text-center.form-control.w-25.fs-5 {
  margin: 0 auto;
  background-color: transparent;
  margin-top: 15px;
}

button .tip{
  display: none;
}

button:hover .tip{
  display: inline;
}

.menu-item {
  border: 0;
  background-color: transparent;
  margin-bottom: 20px;
}

.material-icons {
  font-size: 20px;
}

.column-input-label {
  font-size: 18px;
}