.feedMeButton {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #EAEFF2;
  border: black solid 2px;
  color: Black;
  font-weight: bolder;
  font-size: 100px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.column-input-label{
  color:var(--text-color);
}

.text-center.form-control.border-0.fs-2{
  color:var(--text-color);
}

#deleteBtn{
  color: var(--nav-btn-color); 
  font-size: 50px;
  display: inline-flex;
  vertical-align: top;
  padding-top: 10px;
}

#deleteBtn:active {
  color: var(--btn-active-color); 
}

#addColumnBtn{
  color: var(--nav-btn-color); 
  font-size: 28px;
  display: inline-flex;
  vertical-align: middle;
}

#addColumnBtn:active {
  color: var(--btn-active-color); 
}

.randomizedItem {
  margin: auto; 
  border-radius: 30px; 
  border-width: 10px; 
  border-color: var(--randomize-border-color);
  background-color: var(--randomize-inner-color);
  height: 70px; 
}

.button1 {
  border-radius: 2px;
}

.button2 {
  border-radius: 4px;
}

.button3 {
  border-radius: 8px;
}

.button4 {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color:#EAEFF2;
    border: black solid 2px;
    color: Black;
    font-weight:900;
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.button5 {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color:#EAEFF2;
  border: black solid 2px;
  color: Black;
  font-weight:900;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.btn.btn-lg{
  background-color: #EAEFF2;
  margin-bottom: 20px;
}

::placeholder { 
  color: var(--placeholder-text-color);
  opacity: .5; 
}

.inputRow {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 8px;
  max-width: 500px;
  margin: 0 auto;
  padding: 2px 15px 2px 15px;
}

.text-center.form-control.border-0.fs-2 {
  border: 0px;
  margin: 0 auto;
  background-color: transparent;
}


.form-control.border-0.fs-4.text-center {
  border: 0px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: var(--text-color);
  background-color: var(--input-box-bg-color);
}

.feedMeButton.button5 {
  font-size: 20px;
  font-weight: bolder;
}

.btn-secondary.btn-lg {
  margin-top: 40px;
}

.text-center.form-control.w-25.fs-5 {
  margin: 0 auto;
  background-color: transparent;
  margin-top: 15px;
}

button .tip{
  display: none;
}

button:hover .tip{
  display: inline;
}

.menu-item {
  border: 0;
  background-color: transparent;
  margin-bottom: 20px;
}

.material-icons {
  font-size: 20px;
}

.column-input-label {
  font-size: 18px;
}

.choose-button{
  background-color: var(--nav-btn-color);
  border-radius: 8px;
  font-weight: bold;
  border: 0; 
  font-size: 25px; 
  margin-bottom: 10px;
}

.choose-button:active{
  color: #000;
  background-color:var(--btn-active-color);
  border: 0;
}