<input
  type="text"
  [(ngModel)]="columnTitle"
  (ngModelChange)="saveToLocalStorage()"
  class="text-center form-control border-0 fs-2"
  placeholder="Enter a Value"
/>

<div class="border rounded">
  <div
    class="inputRow"
    *ngFor="let arrayItem of items; index as i; trackBy: trackByFn"
  >
    <input
      type="text"
      name="arrayInput{{ columnName }}{{ i }}"
      [(ngModel)]="items[i]"
      (ngModelChange)="saveToLocalStorage()"
      class="form-control border-0 fs-4 text-center"
      placeholder="Enter a Value"
    />
    <button (click)="removeInput(i)" class="feedMeButton button5">x</button>
  </div>
  <label>
    Add more choices!
    <button (click)="addNewInput()" class="feedMeButton button5">+</button>
  </label>
</div>

<button (click)="randomizeColumn()" class="btn btn-secondary btn-lg">
  Randomize
</button>

<input
  type="text"
  disabled
  class="text-center form-control w-25 fs-5"
  [ngModel]="randomItem"
/>
