<div class="feedMeColumn">
  <input
    type="text"
    [(ngModel)]="column.name"
    class="text-center form-control border-0 fs-2"
   title="This is the title of your column, it is editable to help you to remember what the column contains."
    placeholder="Enter a snack or restaurant choice"
    (blur)="save()"
  />

      <div class="border border-0">
          <div class="inputRow" *ngFor="let arrayItem of column.items; index as i; trackBy: trackByFn">
              <input title="This is where you will type your snack or restaurant options that FeedMe will choose from." type="text" name="arrayInput{{column.name}}{{i}}"
              [(ngModel)]="column.items[i]"
              class="form-control border-0 fs-4 text-center" 
              style="border: 0px; margin-top: 8px; margin-bottom: 8px;"
              placeholder="Example: Biscuits"
              (blur)="save()"
              (keyup.enter)="randomizeColumn()"/>
              
              <button (click)="removeInput(i)" class="menu-item">
                <span id="deleteBtn" class="material-icons" title="This button will remove a row. ">
                  delete
                </span>
              </button>
            </div>
            <label class="column-input-label">
              Add more choices!
              <button (click)="addNewInput()" class="menu-item">
                <span id="addColumnBtn" class="material-icons" title="This button allows you to creat more rows to enter more items for FeedMe to choose from">
                  add_circle
                </span>
              </button>
            </label>
      </div>

  <button (click)="randomizeColumn()" class="choose-button" title="Click here and your option will appear in the box below."> 
    Choose for me! <br/>
  </button>




  <p class="text-center form-control w-50 fs-5 randomizedItem" title="Your randomly selected food choice will appear here.">{{randomItem}}</p>
</div>
