/* Modal styling */

.backdrop {
  background-color:rgba(0,0,0,0.6);
  position:flex;
  top:0;
  left:0;
  width:100%;
  height:100vh;
}

#pills-home-tab {
  text-decoration: none;
  font-weight: 700;
}

#signUpLoginBtn {
  background-color: #EA9B7A;
  font-weight: bold;
}

#signUpLoginBtn:active {
  background-color: #D0B49F;
}

#signUpLogin {
  color: aliceblue;
}

.btn {
  max-width: 250px; 
  margin-left: auto;
}

#pills-home-tab:hover {
  background-color:  #EA9B7A;
  color: #E4D4C8;
  font-weight: 500;
}

#pills-home-tab {
  background-color: #39918C;
  color: #E4D4C8;
}

#pills-profile-tab {
  background-color: #39918C;
  color: #E4D4C8;
}

#pills-home-tab.active {
  background-color:  #FFCBA4;
  color: #000;
  font-weight: 900;
}

#pills-profile-tab:hover {
  background-color:#EA9B7A;
  color: #000;
  font-weight: 500;
}

#pills-profile-tab.active {
  background-color:  #FFCBA4;
  color: #000;
  font-weight: 900;
}

#modalLogin {
  background-color: #FFCBA4;
}

#modalSignUp {
  background-color: #FFCBA4;
}

.card {
  background-color: #39918C;
  width: 400px;
  border:none;
  margin-bottom: 100px;
}

.btr {
  border-top-right-radius: 5px !important;
}

.btl {
  border-top-left-radius: 5px !important;
}

.btn-dark {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.btn-dark:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.nav-pills {
  display:table !important;
  width:100%;
}

.nav-pills .nav-link {
  border-radius: 0px;
  border-bottom: 1px solid #0d6efd40;
}

.nav-item {
  display: table-cell;
  background: #0d6efd2e;
}

#signUpLoginBtn{
  background-color: #EA9B7A;
  font-weight: bold;
}

#cardBtn {
  background-color: #EA9B7A;
  color: #000;
}

#cardBtn:active {
  background-color:  #FFCBA4;
  color: #000;
  border: 0;
}

.form {
  padding: 10px;
  height: 300px;
}

.form input{
  margin-bottom: 12px;
  border-radius: 3px;
}

.form input:focus{
  box-shadow: none;
}

.form button{
  margin-top: 20px;
}

.formError {
  font-weight: bold;
  color: darkred;
  text-align: center;
}

.formSuccess {
  font-weight: bold;
  color: darkgreen;
  text-align: center;
}

.closeButton {
  max-width: 50px; 
  margin-left: auto;
}

.loginSignupModal{
  background-color: #8ce6cb;
  border-radius: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-content {
  background-color: #39918C;
  padding: 1rem;
  margin: auto;
}

.login-signup-button{
  background-color: #EA9B7A;
  font-weight: bold;
  border: 0; 
  color: black; 
  font-size: 25px; 
  margin-right: 5px;
}

.login-signup-button:active {
  background-color: #D0B49F;
}