#recipeResults {
    max-height: 600px;
    padding: 10px;
    margin: 10px;
}

.recipe-result-card {
    background-color: var(--column-inner-color);
    text-decoration: none;
    border: 0;
}

.recipe-results-outer {
    background-color: var(--column-border-color);
    padding: 1rem;
}

.recipe-results-inner {
    background-color: var(--column-inner-color);
    color: var(--text-color);
    border-radius: 8px;
}

.recipe-results-inner a p {
    text-decoration: none;
    border: 0;
    padding-top: 5px;
}

.ingredient-spacer {
    padding-bottom: 5px;
}