nav {
background-color: #39918C;
}

.container-fluid{

}

.navbar {
  overflow: hidden;
  max-height: 70px;
  display: flex;
  justify-content: sp;


}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  color: #E4D4C8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 35px;
  vertical-align: bottom;
  margin: 15px 5px 0px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color:  rgba(221, 221, 221, 0.247);
  color: black;
  font-weight: bolder;
  width: 125%;
  position: relative;
}

.navbar a.active {
  background-color: rgba(167, 167, 167, 0.904);
}

.navbar img {
  height: auto;
  width: 65px;
  vertical-align: top;
  margin: 0px -40px 15px -40px;
}

.navbar-brand {
  margin-left: 20px;
}

.navbar-brand:hover {
  width: 120px;
}

.nav-login {
  margin-bottom: 20px;
}
