<nav class="navbar navbar-expand-sm fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <img class="rounded-circle" src="../../assets/NavbarPic.png">
    </a>
    <ul class="navbar-nav navbar-light">
      <!-- <div style="margin: 20px 20px;"></div> -->
      <!-- <li class="nav-link">
        <a routerLink="/feed-me-later" routerLinkActive="active">FeedMe Later</a>
      </li> -->
      
      <ng-container *ngIf="!userInfo; else createLayoutsTemplate">
        <li class="nav-link nav-feedme-now">
          <a routerLink="/feed-me-now" routerLinkActive="active">FeedMe Now</a>
        </li>
      </ng-container>
      
      <ng-template #createLayoutsTemplate>
        <li class="nav-dropdown">
          <div class="btn-group">
            <button type="button" class="main-dropdown-btn" [routerLink]="['/feed-me-now']" routerLinkActive="active">FeedMe Now</button>
            <button type="button" class="dropdown-toggle dropdown-toggle-split main-dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let layout of getLayouts; index as i;" class="dropdown-menu-item">
                <ng-container *ngIf="!editingNavbarLayout || editingNavbarLayout.id !== layout.id; else editLayoutTemplate">
                  <a [routerLink]="['/feed-me-now', layout.id]" routerLinkActive="active" class="dropdown-item">{{layout.name}}</a>
  
                  <ng-container *ngIf="i !== 0">
                    <button type="button" class="dropdown-menu-btn">
                      <span class="material-icons" title="Edit Layout" (click)="editLayout(i, $event)">
                        edit
                      </span>
                    </button>
    
                    <button type="button" class="dropdown-menu-btn" (click)="removeLayout(i, $event)">
                      <span class="material-icons" title="Delete Layout">
                        delete
                      </span>
                    </button>
                  </ng-container>
                </ng-container>
  
                <ng-template #editLayoutTemplate>
                  <input class="dropdown-input" [(ngModel)]="edittedLayoutName">
                  <button type="button" class="dropdown-menu-btn" (click)="confirmEditLayout(i, $event)">
                    <span class="material-icons" title="Confirm Edit">
                      check
                    </span>
                  </button>
                  <button type="button" class="dropdown-menu-btn" (click)="cancelEditLayout($event)">
                    <span class="material-icons" title="Cancel Edit">
                      cancel
                    </span>
                  </button>
                </ng-template>
  
              </li>
            </ul>
          </div>
        </li>
      </ng-template>

      <app-create-new-layout *ngIf="userInfo"></app-create-new-layout>

      <app-login-signup></app-login-signup>

    </ul>
  </div>
</nav>