.feedMeButton {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color:#EAEFF2;
  border: black solid 2px;
  color: Black;
  font-weight: bolder;
  font-size: 100px;
  margin-top: 25px;
  margin-bottom: 15px;
}
  
.form-control{
border: 0px;
margin-top: 8px; 
margin-bottom: 8px;
}


body {
  background-image: url("/assets/fresh-colourful-ingredients-mexican-cuisine.edit.jpg");
  background-color: #AB6B51;
  background-size:cover;
  min-height: 100vh;
  background-blend-mode: overlay;
}

#addNewColumn{
  font-size: 25px;
}

#addNewColumnId{
  max-width: 600px;
  margin: 80px auto 0px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color:#EAEFF2;
  border: black solid 2px;
  color: Black;
  font-weight:900;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 15px;
}


.inputRow {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 8px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #39918C;
}

h2 {
  font-size: 40px;
  padding-top: 20px;
}

main {
  padding-top: 20px;
}

.col-sm.p-3.mx-4 {
  margin-top: 100px;
    background-color: #39918C;

}

h4 {
  margin-top: 360px;
  padding: 45px;
}

#orCircle {
  max-width: 150px;
}
