.feedMeButton {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color:#EAEFF2;
  border: black solid 2px;
  color: Black;
  font-weight: bolder;
  font-size: 100px;
  margin-top: 25px;
  margin-bottom: 15px;
}
  
.form-control{
border: 0px;
margin-top: 8px; 
margin-bottom: 8px;
}

#addNewColumn{
  font-size: 25px;
}

#addNewColumnId{
  max-width: 600px;
  margin: 80px auto 0px;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {border-radius: 12px;}
.button5 {  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color:#EAEFF2;
  border: black solid 2px;
  color: var(--text-color);
  font-weight:900;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 15px;
}


.inputRow {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 8px;
  max-width: 500px;
  margin: 0 auto;
  background-color: #39918C;
}
[data-title]:hover:after {
  visibility: visible;
}



h2 {
  font-size: 40px;
  padding-top: 20px;
}

main {
  padding-top: 20px;
}

.col-sm.p-3.mx-4 {
  margin-top: 100px;
    background-color: var(--column-border-color);
 


}

h4 {
  margin-top: 10px;
 
}

#orCircle {
  max-width: 150px;
}

.menu-item {
  border: 0;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
}

.material-icons {
  font-size: 20px;
}

.delete-column-icon {
  font-size: 50px;
}

.feed-me-now-columns {
  display: flex;
  flex-wrap: wrap;
}

.feed-me-now-columns .col-sm {
  box-sizing: border-box;
  min-width: calc(100% / 3 - 3rem);
  max-width: 100%;
}
