.feedMeButton {
    /* background-color: white;
    border: none;
    color: grey;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px; */


  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color:#EAEFF2;
  border: black solid 2px;
  color: Black;
  font-weight: bolder;
  font-size: 100px;
  margin-top: 25px;
  margin-bottom: 15px;
  }
body {
       background-image: url("/assets/fresh-colourful-ingredients-mexican-cuisine.jpg");
background-color: #AB6B51;
background-size:cover;
  min-height: 100vh;
 background-blend-mode: overlay;

}


  .button1 {border-radius: 2px;}
  .button2 {border-radius: 4px;}
  .button3 {border-radius: 8px;}
  .button4 {border-radius: 12px;}
  .button5 {border-radius: 50%;}

  .inputRow {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 8px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #39918C;
  }

h2 {
  font-size: 30px;
  padding-top: 20px;
}
main {
  padding-top: 20px;
}
.col-sm.p-3.mx-4 {
  margin-top: 100px;
    background-color: #39918C;
}
/* .col-sm {
    max-width: 150px
} */
h4 {
  margin-top: 360px;
  padding: 45px;
}

#orCircle {
  max-width: 150px;
}
