<form class="card search-forms col-3 offset-1">
    <h4>
        Give us a list of what's available to cook with and it will appear in your inventory below.
    </h4>
    <div id="recipeGenerator" class="container-fluid">
      <textarea placeholder="Enter ingredients here separated by commas..." id="ingredient-textarea"></textarea>
    </div>
    <div id="recipeGenerator" class="container-fluid">
      <button type="button" class="btn btn-secondary btn-lg">
        Add  
      </button>
      <hr>
    </div>
  
    <div id="inventory">
        <label>Your Inventory: </label>
      <select multiple class="form-select container-fluid" id="sel2" name="sellist2">
        <option *ngFor = 'let ingredient of ingredients'>{{ingredient}}</option>
      </select>
      <label for="sel2" class="form-label">Mutiple select list (hold shift to select more than one):</label>
      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
  </form>