@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto:wght@300;500;700&display=swap");

* {
  box-sizing: border-box;
}

.feedMeColumn{
  background-color: #8ce6cb;
  border-radius: 30px;
 }
 
body {
  font-family: "Roboto", sans-serif;
  display: flex;
  /* flex-direction: column; */

  align-items: top;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  border-radius: 20px;
}

.row {
  padding: 15px;
}

.p {
  color: #060606;
  margin: 10px 0 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.h3 {
  color: #060606;
  margin: 10px 0 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#instructions {
  padding-left: 30px;
  justify-content: center;
  text-align: left;
}

.container {
  /* This puts all of the */
  width: 1000px;
}

.wrapper {
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  max-width: 550px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  /* The bellow puts text area and generator button on same page */
  display: flex;
  justify-content: space-between;
}

.wrapper.input {
  width: 85%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
}

.btn {
  height: 50px;
  padding: 10px;
}

textarea {
  display: block;
  width: 100%;
  height: 50px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
}

.tag {
  background-color: #f0932b;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 14px;
  display: inline-block;
}

.button {
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 32px Arial, sans-serif;
}

ol {
  margin-left: 0;
  padding-left: 0;
  counter-reset: item;
}

ol > li {
  margin-left: 0;
  padding-left: 0;
  counter-increment: item;
  list-style: none inside;
  margin-bottom: 10px;
}
ol > li:before {
  content: counter(item);
  padding: 3px 9px;
  margin-right: 0.5em;
  background: #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

h2 {
  font-size: 30px;
  margin-top: 20px;
}


#recipeGenerator {
  margin-left: 200px;
  margin-bottom: 200px;
  margin-top: 50px;
}

.container-fluid.px-5 {
  padding-top: 20px;

 
  /* margin-left: 500px; */

}
#recipeNameBox{ 
 text-align: center;
}
