<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="feed-me-later-page.component.css">
  <title>FeedMe Later</title> 
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <p id="mainDescription">Don't mind cooking? Input what's in you pantry and we'll generate a recipe that's right for you!</p>
        <p id="updateDescription">If you don't like the selection, click generate again.</p>
        <div class="row">
          <div class="col-xl-12"></div>
        </div>
      </div>
    </div>
    <div class="col-xl-12">
      <div id="recipeGenerator" class="wrapper">
        <textarea placeholder="Enter ingredients here separated by commas..." id="ingredient-textarea"></textarea>
        <button type="button" class="btn btn-secondary btn-rounded">Generate</button>
      </div>
    </div>

    <main class="container-fluid px-5" style="padding-top: 20px;">
    <div class="row">
      <!-- <img _ngcontent-uwn-c18="" _ngcontent-ueu-c16="" src="/assets/home-page.png" alt="FeedMe Now" style="padding-bottom: 5px;"> -->
        <div class="col-md-6">
          <img src="/assets/recipe-standin.png" alt="Recipe image" width="300" height="200">
          <h1 id="recipeName">Recipe Name</h1>
          <p>Cuisine Type | Prep Time | Cook Time</p>
        </div>
        <div id="instructions" class="col-md-6">
          <h3>Instructions:</h3>
          <ol>
            <li> Step 1</li>
            <li> Step 1</li>
            <li> Step 1</li>
            <li> Step 1</li>
            <li> Step 1</li>
            <li> Step 1</li>
            <li> Step 1</li>
          </ol>
        </div>
    </div>
   </main> 
  </div>
</body>
</html>


