<div class="bg-img">
<!-- Description / Header -->
  <header class="container-fluid">
    <div>
      <h1 class="text-center" style="align-content: center;">
        Don't mind cooking? Input the ingredients you have in your pantry and
        we'll generate
        a recipe option for you!
      </h1>
      <h4 class="text-center">Enter the food item you would like to use in your dish, seperated by commas, and we will generate 15+ recipes. </h4>
    </div>
  </header>

  <div class="container-fluid feed-me-later-container">
    <div class="row justify-content-center">
      <app-inventory-form class="col-4" (ingredientsSubmitted)="fetchRecipes($event)"></app-inventory-form>
      <div class="col-4 feedme-later-outer" *ngIf="randomRecipe">
        <div class="feedme-later-inner">
          <h3>{{randomRecipe.recipe.label}}</h3>
          <img src="{{randomRecipe.recipe.image}}" class="container-fluid" style="max-height: 300; max-width: 500px">
          <p>Ingredients:</p>
          <ul>
              <li *ngFor="let ingredient of randomRecipe.recipe.ingredientLines">{{ingredient}}</li>
          </ul>
          <p>Instructions: <a href="{{randomRecipe.recipe.url}}">{{randomRecipe.recipe.url}}</a></p>
          <p>Cuisine type: {{randomRecipe.recipe.cuisineType}}</p>
          <p>Meal type: {{randomRecipe.recipe.mealType}}</p>
          <p>Dish type: {{randomRecipe.recipe.dishType}}</p>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="randomRecipe">
      <h1 class="text-center">Here's some more recipe's like the one above!</h1>
      <app-recipe-results class="col-3" style="margin: 20px auto 0 auto;" [recipeResults]="recipes"></app-recipe-results>
    </div>

    <div class="row powered-by">
      <p style="display: inline;">Powered by <a href="https://www.edamam.com">Edamam</a></p>
    </div>
  </div>
</div>
