<div class="bg-img">
<!-- Description / Header -->
  <header class="container-fluid">
    <div  style="margin-top: 85px; ">
      <h1 class="text-center" style="align-content: center;">
        Don't mind cooking? Input the ingredients you have in your pantry and
        we'll generate <br />
        a recipe option for you!
      </h1>
    </div>
    <div>
      <h4 style="text-align: right;">Powered by Edamam</h4>
    </div>

  </header>

  <div class="row justify-content-center">
    <app-inventory-form class="col-4" (ingredientsSubmitted)="fetchRecipes($event)"></app-inventory-form>
    <!-- <app-health-tags-form class="col-3 offset-1"></app-health-tags-form> -->
    <!-- <app-recipe-results class="col-3 offset-2"></app-recipe-results> -->
    <div class="col-4" *ngIf="randomRecipe">
      <h3>{{randomRecipe.recipe.label}}</h3>
      <img src="{{randomRecipe.recipe.image}}" class="container-fluid" style="max-height: 200px; max-width: auto;">
      <p>Ingredients:</p>
      <ul>
          <li *ngFor="let ingredient of randomRecipe.recipe.ingredientLines">{{ingredient}}</li>
      </ul>
      <a href="{{randomRecipe.recipe.url}}">{{randomRecipe.recipe.url}}</a>
      <p>Cuisine type: {{randomRecipe.recipe.cuisineType}}</p>
      <p>Meal type: {{randomRecipe.recipe.mealType}}</p>
      <p>Dish type: {{randomRecipe.recipe.dishType}}</p>
    </div>
  </div>

  <div class="row" *ngIf="randomRecipe">
    <app-recipe-results class="col-3" style="margin: 20px auto 0 auto;" [recipeResults]="recipes"></app-recipe-results>
  </div>
</div>
