body {
    --text-color: #222;
    --bkg-color: #AB6B51;
    --btn-txt-color: black;
    --btn-bg-color:  hsl(177, 44%, 45%);
    --nav-bkg-color:hsl(177, 44%, 45%);
    --nav-btn-color:  #EA9B7A;
     --active-color: #FFCBA4;
    --border-color: #EA9B7A;
    --modal-color: #8ce6cb;

    --nav-hover-color: #a06b55;
  }
nav{

        background-color:var(--nav-bkg-color);

}


  body.dark-theme {
    --text-color: #eee;
    --bkg-color: #252222;
    --btn-txt-color: white;
    --btn-bg-color: hsl(177, 44%, 25%);
    --nav-bkg-color:hsl(177, 44%, 25%);
    --nav-btn-color: #156485;
    --active-color:#00345b;
    --border-color: #156485;
    --modal-color: #731934;
    --nav-hover-color:#2c3c89;
  }
  
  body {
    background: var(--bkg-color);
  }
  
  h1,
  p {
    color: var(--text-color);
  }
  .bg-img{
  
    background-color: var(--bkg-color);

  }
.h4{
    color: var(--text-color)
}
  button {
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: var(--btn-txt-color);
    background-color: var(--btn-bg-color);
  }
  #FeedMeBtn {
    background-color: var(--btn-bg-color);
   color: var(--btn-txt-color);
  }
  .login-signup-button{
    background-color: var(--nav-btn-color)

  }
  .login-signup-button:active {
    background-color:var(--nav-btn-color)
  }
  .modal-content {
    background-color: var(--nav-bkg-color);
  
    border-color: var(   --border-color);
  }
  .loginSignupModal{
    background-color: var(--modal-color);
  }
