body {
  --placeholder-text-color:grey ;
    --text-color: #222;
    --bkg-color: #AB6B51;
    --btn-txt-color: black;
    --btn-bg-color: #8ce6cb;
    --nav-bkg-color:#8ce6cb;
    --nav-btn-color:  #EA9B7A;
     --active-color: #FFCBA4;
    --border-color: #EA9B7A;
    --modal-color:hsl(177, 44%, 45%);
    --nav-text-color:  #EA9B7A;
    --nav-hover-color: #EA9B7A;
  }
nav{

        background-color:var(--nav-bkg-color);

}


  body.dark-theme {
    --placeholder-text-color: hsl(177, 44%, 55%); ;
    --text-color: hsl(177, 44%, 45%);
    --bkg-color: #252222;
    --btn-txt-color: white;
    --btn-bg-color: hsl(177, 44%, 25%);
    --nav-bkg-color:hsl(177, 44%, 25%);
    --nav-btn-color: #156485;
    --active-color:#00345b;
    --border-color: #156485;
    --modal-color: hsl(177, 44%, 35%);;
    --nav-hover-color:#156485;
    --nav-text-color: hsl(177, 44%, 45%);
  }
  
  body {
    background: var(--bkg-color);
  }
  
  h1,
  p {
    color: var(--text-color);
   
  }
  .bg-img{
    background-image: url("/assets/lukas-blazek-f-knife-unsplash.jpg ");
  /* background-color: #AB6B51;  wooden-plate-pita-bread-with-sliced-tomato-onion   top-view-chicken-onion-lemon-herbs-pieces-chicken-lavash-board  top-view-cut-lemons-dog-rosehips-feijoas-grey-table-copy-space.jpg lukas-blazek-f-knife-unsplash.jpg brooke-lark-tomatobg-unsplash.jpg   fresh-colourful-ingredients-mexican-cuisine.edit.jpg*/
  background-size:cover;


  min-height: 100vh;
  background-blend-mode: overlay;
    background-color: var(--bkg-color);
  

  }
  .feedMeColumn{
    background-color: var(--nav-bkg-color);
    border-radius: 30px;
   }
h4{
    color: var(--text-color)
}
  button {
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: var(--btn-txt-color);
    background-color: var(--btn-bg-color);
  }
  #FeedMeBtn {
    background-color: var(--btn-bg-color);
   color: var(--btn-txt-color);
max-width: 100%;
display: flexbox;  
justify-content: center;  
align-items: center;  


   }

  
  
  

  .login-signup-button{
    background-color: var(--nav-btn-color)
    

  }
.form-check-label{
    color: var(--btn-txt-color); 
}
  .login-signup-button:active {
    background-color:var(--nav-btn-color)
  }
  .modal-content {
    background-color: var(--nav-bkg-color);
  
    border-color: var(   --border-color);
  }
  .loginSignupModal{
    background-color: var(--modal-color);
  }
