<!--Description / Header-->
<header class="container-fluid">
    <div class="text-center">
        <h1 style="font-size: 30px; padding-top: 20px;">Choosing something tasty should not be difficult, Use our food generator to choose <br> what to eat now, as a snack, takeout, or later as a home cooked meal!</h1>
    </div>
</header> 
<!--Description / Header-->

<!--Main-->
<main class="container-fluid px-5" style="padding-top: 20px;">
    <div>
        <div class="row text-center">

            <div class="col-sm p-3 mx-4">
                <a routerLink="/feed-me-now" routerLinkActive="active" style="text-decoration: none;">
                    <img src="/assets/home-page.png" alt="FeedMe Now" style="padding-bottom: 20px;">
                    <br>
                    <p style="font-size: 30px; color: black;" class="h3 p-3 bg-light border rounded mx-4">FeedMe Now</p>
                    <br>
                    <p class="h4" style="color: black;">
                        Input what's in your pantry or what
                        <br> restaurants you have a taste for,
                        <br> and we'll generate an option for you!
                </a>
            </div>

            <div class="col-sm" style="max-width: 150px;">
                <h4 class="border border-dark rounded-circle" style="margin-top: 360px; padding: 45px;">OR</h4>
            </div>

            <div class="col-sm p-3 mx-4">
                <a routerLink="/feed-me-later" routerLinkActive="active"  style="text-decoration: none;">
                    <img src="/assets/home-page.png" alt="FeedMe Later" style="padding-bottom: 20px;">
                    <br>
                    <p style="font-size: 30px; color: black;" class="h3 p-3 bg-light border rounded mx-4">FeedMe Later</p>
                    <br>
                    <p class="h4" style="color: black;">Don't mind cooking? Input what's in
                    <br> your pantry and we'll generate a
                    <br> recipe that's right for you!</p>
                </a>
            </div>
            
        </div>
    </div>
</main>
<!--Main-->