h1 {
  font-size: 30px;
  padding-top: 20px;
}

.container-fluid.px-5 {
  padding-top: 20px;
}

a {
  text-decoration: none;
}

.feedMeNow-img {
  padding-bottom: 20px;
}

.h3 {
  font-size: 30px;
  color: black;
}

.feedMeLater-img {
  padding-bottom: 20px;
}
.h4 {
  color: black;
}
