<div class="bg-img">
  <!--Description / Header-->
  <header class="container-fluid" style="margin-top: 75px;">
    <div>
       <h1 class="text-center" style="align-content: center; padding : 60px;">
        Choosing something tasty should not be difficult, Use our food generator
        to choose <br />
        what to eat now, as a snack, takeout, or later as a home cooked meal!
      </h1>
    </div>
  </header>
  <!--Description / Header-->

  <!--Main-->
  <main class="container-fluid px-5"  >
    <div>
      <div class="row text-center"  >
        <div class="col-sm p-3 mx-4"  >
          <a routerLink="/feed-me-now" routerLinkActive="active">
            <img id="imgWaffles"
              class="feedMeNow-img"
              src="/assets/waffle-cookies.jpg"
              alt="FeedMe Now"
            />

            <p id="FeedMeBtn"  title="This button takes you to the FeedMeNow page where meal descisions can be made for you." class="h3 p-3 border rounded mx-4">FeedMe Now</p>
         
            <p class="h4">
              Input what's in your pantry or what
              <br />
              restaurants you have a taste for, <br />
              and we'll generate an option for you!
            </p></a
          >
        </div>

        <!-- <div class="col-sm" id="orCircle">
          <h4 class="border border-dark rounded-circle">OR</h4>
        </div> -->

        <div class="col-sm p-3 mx-4">
          <a routerLink="/feed-me-later" routerLinkActive="active">
            <img id="imgWaffles"
              class="feedMeLater-img"
              src="/assets/gareth-hubbard-veggies-unsplash.jpg"
              alt="FeedMe Later"
            />

            <p id="FeedMeBtn" class="h3 p-3 border rounded mx-4">FeedMe Later</p>

            <p class="h4">
              Don't mind cooking? Input what's in <br />
              your pantry and we'll generate a <br />
              recipe that's right for you!
            </p>
          </a>
        </div>
      </div>
    </div>
  </main><!--Main-->
</div>

