.bg-img {
  background-image: url("/assets/fresh-colourful-ingredients-mexican-cuisine.edit.jpg");
  background-color: #AB6B51;
  background-size:cover;
  min-height: 100vh;
  background-blend-mode: overlay;
}




#imgWaffles{
  opacity: 100%;
  border-radius: 30px;
}

h1 {
  font-size: 30px;
  padding-top: 20px;
}

.container-fluid.px-5 {
  padding-top: 20px;
}

a {
  text-decoration: none;
}

.feedMeNow-img {
  padding-bottom: 20px;
}

.h3 {
  font-size: 30px;
  color: black;
}

.feedMeLater-img {
  padding-bottom: 20px;
}
h4 {
  margin-top: 360px;
  padding: 45px;
}
/* .h4 {
  color: black;
} */

#orCircle {
  max-width: 150px;
}

#FeedMeBtn {
  background-color: #39918C;
}
